apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - image: f3rym/eto-backend
          name: backend-container
          ports:
            - containerPort: 8000
          resources:
            requests:
              cpu: 10m
              memory: 10Mi
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: config-secret
                  key: postgres-user
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: config-secret
                  key: postgres-password
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: config-secret
                  key: postgres-db 
            - name: POSTGRES_HOST
              valueFrom:
                secretKeyRef:
                  name: config-secret
                  key: postgres-host 
            - name: DB_CONN
              value: "postgresql://$(POSTGRES_USER):$(POSTGRES_PASSWORD)@$(POSTGRES_HOST):5432/$(POSTGRES_DB)"
            - name: UVICORN_PORT
              value: "8000"
            - name: BACKEND_VERSION
              value: "1.0.0"    
          livenessProbe:
            httpGet:
              path: /api/healthcheck
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3